.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
}

.Card {
  border-radius: 5px;
  border: 1px solid #CCD7DD;
  width: 80%;

  min-width: 100px;
  min-height: 280px;
  padding: 10px;
}

.SelectBox {
  border-radius: 5px;
  border: 1px solid #CCD7DD;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17%;
  min-width: 40px;
  min-height: 280px;
  height: 700px;
  
  padding: 10px;
  margin-left: 2%;

  color: #CCD7DD;
  font-family: 'Roboto';
  font-size: 1em;
  text-transform: capitalize;
}

.SelectBox .provinces {
  padding: 0 20px;
}

.SelectBox .country-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SelectBox button {
  background-color: transparent;
  color: #CCD7DD;
  border: 0px solid transparent;
  padding: 0 10px;

}

.SelectBox button:hover {
  cursor: pointer;
}

.searchInput {
  width: calc(100% - 12px);

  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px transparent;
  padding: 10px 5px;
  font-size: 1em;
}

.form-check {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';
}

.form-label {
  padding-bottom: 10px;
}

.form-check-label {
  padding-left: 10px;
}

input[type="checkbox"] {
  transform: scale(1.4);
}

.minRangeSelector {
  width: calc(100% - 2px);
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}

.minRangeInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.minRangeInput input[type="range"] {
  width: 75%;
  -webkit-appearance: none;
}

.minRangeInput input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: tomato;
  height: 5px;
 }
 
 input[type="range"]::-moz-range-track {
  background: tomato;
  height: 5px;
 }

 input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #fff;
  margin-top: -5px;
  border-radius: 50%;
 }
 
 input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: pink;
  margin-top: -5px;
  border-radius: 50%;
}

.minRangeInput input[type="text"] {
  width: 20%;
  padding-left: 5px;
  border-radius: 2px;
  border: 0px transparent;

  height: 25px;
  font-size: 0.5em;
  background-color: #fff;
}

.CountriesSelector {
  padding: 10px 0px;
  height: 90%;
  height: calc(100%- 100px);

  display: flex;
  flex-direction: column;
}

.CountriesList {
  height: 90%;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

