.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95%;
}

.Card {
  border-radius: 5px;
  border: 1px solid #CCD7DD;
  width: 80%;

  min-width: 100px;
  min-height: 280px;
  padding: 10px;
}

.SelectBox {
  border-radius: 5px;
  border: 1px solid #CCD7DD;

  width: 17%;
  min-width: 40px;
  min-height: 280px;
  max-height: 700px;
  
  padding: 10px;
  margin-left: 2%;

  overflow-y: scroll;

  color: #CCD7DD;
  font-family: 'Roboto';
  font-size: 1em;
  text-transform: capitalize;
}

.SelectBox .provinces {
  padding: 0 20px;
}

.SelectBox .country-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.SelectBox button {
  background-color: transparent;
  color: #CCD7DD;
  border: 0px solid transparent;
  padding: 0 10px;

}

.SelectBox button:hover {
  cursor: pointer;
}

.searchInput {
  width: calc(100% - 2px);
  height: 32px;

  margin-bottom: 10px;
  border-radius: 5px;
  border: 0px transparent;

  font-size: 1.2em;
}

.form-check {
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';
}

.form-check label {
  padding-left: 5px;
}

input[type="checkbox"] {
  transform: scale(1.2);
}