.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Card {
  border-radius: 5px;
  border: 1px solid #CCD7DD;
  width: 100%;

  min-width: 100px;
  min-height: 280px;
  padding: 10px;
}